.jumbotron {
  background-image: url(/img/hm/event/Web\ HMIF.png);
  background-size: cover;
  height: 396px;
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}